#cloud-config

users:
  - name: {{ .Username }}
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL

package_update: true
package_upgrade: true
packages:
  - curl
  - git
  - tmux
  - unzip
  - jq

runcmd:
  # Install Tailscale
  - curl -fsSL https://tailscale.com/install.sh | sh
  - tailscale up --authkey={{ .TailscaleAuthKey }} --hostname={{ .Hostname }} --ssh
